<%- include('partials/header'); -%>
<div class="about">
    <h1 class="about__title">FAQ</h1>
    <ul class="about__questions">
        <li class="about__questions--item">
            <div class="about__q">How does Tweet-Doc work?</div>
            <div class="about__a">Tweet-Doc is pretty simple, it scrapes through the Twitter profile of the username
                provided,
                collecting the first page of tweets and then processed through a Natural Language Processor.</div>
        </li>
        <li class="about__questions--item">
            <div class="about__q">Is Tweet-Doc safe to use?</div>
            <div class="about__a">Yes, we do not store any information nor do we ask for or share any information.
            </div>
        </li>
        <li class="about__questions--item">
            <div class="about__q">Can I analyze topics or trends?</div>
            <div class="about__a">That feature is currently a work in progress.
            </div>
        </li>
    </ul>
</div>
<%- include('partials/footer'); -%>