<%- include('partials/header'); -%>
<div class="contact">
    <h1 class="contact__title">Contact</h1>
    <ul class="contact__details">
        <li class="contact__details--item">
            <div class="contact__q">Email</div>
            <div class="contact__a"><a href="mailto:turazinyc@gmail.com" target="_blank"
                    rel="noopener noreferrer">turazinyc@gmail.com</a></div>
        </li>
        <li class="contact__details--item">
            <div class="contact__q">Portfolio</div>
            <div class="contact__a"><a href="https://turazi.xyz/" target="_blank"
                    rel="noopener noreferrer">Portfolio</a></div>
        </li>
        <li class="contact__details--item">
            <div class="contact__q">Github</div>
            <div class="contact__a"><a href="https://github.com/turazi" target="_blank" rel="noopener noreferrer">Github
                    Profile</a></div>
        </li>
    </ul>
</div>
<%- include('partials/footer'); -%>